/*
 * SPDX-FileCopyrightText: 2025 NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

:host {
  display: inline-block;
}


.btn {
  border: none;
  background: inherit;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
}

.btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background: rgba(var(--color-primary-rgb--inner), 0.2);
}

.btn:disabled {
  cursor: default;
}
