/*
 * SPDX-FileCopyrightText: 2025 NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

:host {

  /**
   * @prop --color-primary: Primary color
   */
  --color-primary: #0068B4;
  /**
   * @prop --color-primary-rgb: Primary color in RGB format
   */
  --color-primary-rgb: 0, 104, 180;
  /**
   * @prop --color-secondary: Secondary color
   */
  --color-secondary: #00A767;

  /**
   * @prop --color-text: Text color
   */
  --color-text: #333333;
  /**
   * @prop --color-background: Background color
   */
  --color-background: #FFFFFF;

  /**
   * @prop --map-marker-color: Map marker color
   */
  --map-marker-color: #3a9c77;
  /**
   * @prop --map-marker-color-bg: Map marker background
   */
  --map-marker-color-bg: #FFFFFF;

  /**
   * @prop --scrollbar-color: Scrollbar thumb color
   */
  --scrollbar-color: initial;
  /**
   * @prop --scrollbar-bg: Scrollbar background color
   */
  --scrollbar-bg: initial;
}

:host {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: stretch;
  font-family: inherit;

  background: var(--color-background);
}

:host(.layout--tablet),
:host(.layout--mobile) {
  flex-direction: column-reverse;
}

:host(.layout--tablet) .layout__list,
:host(.layout--mobile) .layout__list {
  flex: 0;
}

.layout__list {
  flex: 0 0 350px;
}

.layout__center {
  position: relative;
  flex: 1;
}

noi-brennerlec-map {
  height: 100%;
  width: 100%;
}

.popup {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
}


.popup__title {
  font-weight: 500;
  color: var(--color-primary);

  display: flex;
  align-items: center;
  gap: 8px;
}

.popup__title-text {
  font-size: 22px;
  flex: 1;
}

.popup__subtitle {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-secondary);
}

.popup__image {
  margin: 12px 0;
  width: 100%;
  max-width: 465px;
  overflow: hidden;
  object-fit: contain;
}

.popup__close-btn {
  --color-bg-hover: rgba(var(--color-primary-rgb), 0.2);
}

/* Map */
.noi-map-line {
  stroke: var(--map-marker-color);
  stroke-width: 5px;
}

.noi-marker {
  /*position: relative; < affects icon position */
}

.noi-marker__icon {
  display: block;
  height: 100%;
  width: 100%;
  border: 2px solid var(--map-marker-color);
  border-radius: 50%;
  background-color: var(--map-marker-color);
}

.noi-marker.selected .noi-marker__icon {
  background-color: var(--map-marker-color-bg);
}

.noi-marker__label {
  position: absolute;
  top: -3px;

  display: inline-block;
  background-color: var(--map-marker-color-bg);
  border: 2px solid var(--map-marker-color);
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 4px;
  font-size: 11px;
  color: var(--map-marker-color);
  font-weight: 700;
  padding: 0 10px 0 10px;
}

.noi-marker--left .noi-marker__label {
  margin-right: 16px;
  right: 100%;
}

.noi-marker--right .noi-marker__label {
  margin-left: 16px;
  left: 100%;
}

.noi-marker.selected .noi-marker__label {
  background-color: var(--map-marker-color);
  color: var(--map-marker-color-bg);
}
